h1 {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
    transform: perspective(500px) rotateX(25deg);
    transform-origin: bottom center;
  }

  .centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    background-image: url("pp_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    
      
  }
